<style type="text/css">   
    div.dialog {
        width: 25em;
        padding: 0 4em;
        margin: 4em auto 0 auto;
        border: 1px solid #ccc;
        border-right-color: #999;
        border-bottom-color: #999;
	    background-color: #fff;
    }
    
    h1 {
        font-size: 100%;
        color: #f00;
        line-height: 1.5em;
    } 
</style>
<div class="dialog">
    <h1>The change you wanted was rejected.</h1>
    <p>
        Maybe you tried to change something you didn't have access to.
    </p>
</div>
